In [32]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(10,22).reshape(4,3),
                  index=list('abcd'), columns=list('ABC'))
#df['D'] = pd.Series(data=['x','x','y','y'], index=list('abcd'))
df.insert(0, 'D', ['x','x','y','y'])
print(df)

df_g = df.groupby('D')
df_g.sum()

   D   A   B   C
a  x  10  11  12
b  x  13  14  15
c  y  16  17  18
d  y  19  20  21

    A   B   C
D
x  23  25  27
y  35  37  39

In [35]:
# series -->  series, scalar

#df.apply(np.sum)

def fn1(x):
    return x+5

#df.apply(fn1)
#df.apply(lambda x: x+5)
#df.apply(lambda x: print(type(x)))
df.apply(np.sum)

# group: dataframe --> series, scalar
#df_g.apply(lambda x: print(x))
df_g.apply(np.sum)

    D   A   B   C
D
x  xx  23  25  27
y  yy  35  37  39

In [37]:
# series --> series
# df.transform(np.mean)
#df.transform(lambda x: x+5)
#df.transform(lambda x: print(type(x)))

df_g.transform(lambda x: print(x))

a    10
b    13
Name: A, dtype: int32
a    11
b    14
Name: B, dtype: int32
a    12
b    15
Name: C, dtype: int32
    A   B   C
a  10  11  12
b  13  14  15
c    16
d    19
Name: A, dtype: int32
c    17
d    20
Name: B, dtype: int32
c    18
d    21
Name: C, dtype: int32

      A     B     C
a  None  None  None
b  None  None  None
c  None  None  None
d  None  None  None

In [39]:
# series --> series, scalar
df.agg(np.sum)
#df.agg(lambda x: x+5)  # df.aggregate(lambda x: x+5)
#df.agg(lambda x: print(type(x)))

df_g.agg(lambda x: print(type(x)))
df_g.agg(np.sum)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

    A   B   C
D
x  23  25  27
y  35  37  39

In [41]:
# scalar --> scalar
#df.applymap(np.sum)
#df.applymap(lambda x: x+5)
#df.applymap(lambda x: print(type(x)))

#df_g.applymap(lambda x: print(type(x)))   # doesn't work.

AttributeError: 'DataFrameGroupBy' object has no attribute 'applymap'