In [1]:
import pandas as pd
import numpy as np

np_rng = np.random.default_rng()

In [21]:
#concat : concatenate
s1 = pd.Series(np.arange(10,20), index=list('abcdefghij'))
s2 = pd.Series(np.arange(100,110), index=list('bcdefghijk'))

#print(s1)
#print(s2)

s3 = pd.concat((s1,s2), axis=1, join='outer')
#rint(s3)
#rint(type(s3))

s4 = s1.to_frame()
print(s4)
print(type(s4))
print(s4.T)

    0
a  10
b  11
c  12
d  13
e  14
f  15
g  16
h  17
i  18
j  19
<class 'pandas.core.frame.DataFrame'>
    a   b   c   d   e   f   g   h   i   j
0  10  11  12  13  14  15  16  17  18  19

In [27]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5,3)), index=list('abcde'), columns=['S1','S2','S3'])
df2 = pd.DataFrame(np_rng.integers(-50,-10,(5,3)), index=list('bcdef'), columns=['S1','S2','S3'])
#print(df1)
#print(df2)
df3 = pd.concat([df1,df2], axis=1, join='inner')
print(df3)

   S1  S2  S3  S1  S2  S3
b  10  48  33 -30 -19 -38
c  42  26  22 -49 -31 -29
d  14  14  19 -12 -17 -17
e  30  23  24 -12 -12 -40

In [54]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5,3)), index=list('abcde'), columns=['S1','S2','S3'])
#rint(df1)

s10 = pd.Series(np_rng.integers(-10,10,5), index=list('abcde'))
#rint(s10)

#df1['S4'] = s10
#print(df1)

#df10 = pd.concat([df1, s10.to_frame()], axis=1)
#print(df10)

df1.insert(1, 'S5', s10)
#rint(df1)

df1.insert(3, 'S10', s10+100)
print(df1)
print('.......')
print(df1.drop(['S2', 'S3'], axis=1, inplace=True))
print('.......')
print(df1.drop(['b','d']))
print('.......')
print(df1)

s11 = pd.Series(np_rng.integers(-10,10,3), index=['S1','S5','S10'])
print(s11)
print(s11.to_frame())
df11 = pd.concat([df1,s11.to_frame().T], axis=0)
print(df11)

   S1  S5  S2  S10  S3
a  42 -10  32   90  13
b  40   6  17  106  20
c  23  -6  46   94  43
d  39  -3  35   97  46
e  33   0  33  100  14
.......
None
.......
   S1  S5  S10
a  42 -10   90
c  23  -6   94
e  33   0  100
.......
   S1  S5  S10
a  42 -10   90
b  40   6  106
c  23  -6   94
d  39  -3   97
e  33   0  100
S1      4
S5     -5
S10   -10
dtype: int64
      0
S1    4
S5   -5
S10 -10
   S1  S5  S10
a  42 -10   90
b  40   6  106
c  23  -6   94
d  39  -3   97
e  33   0  100
0   4  -5  -10

In [67]:
s1 = pd.Series(np.arange(10,20), index=list('abcdefghij'))
s1 = s1.reindex(list('abcdefghijk'))
print(s1)
#print(s1.hasnans)
#print(s1.isna())
#print(s1[s1.isna()])
#print(s1.dropna())

#s1[s1.isna()] = -1.0
#s1.fillna(-1.0)
s1.replace(np.NaN, -1.0, inplace=True)
s1.replace(19.0, -19.0, inplace=True)
print(s1)

a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
f    15.0
g    16.0
h    17.0
i    18.0
j    19.0
k     NaN
dtype: float64
a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
f    15.0
g    16.0
h    17.0
i    18.0
j   -19.0
k    -1.0
dtype: float64

In [72]:
s1.replace(-19.0, 10.0, inplace=True)
print(s1)
#print(s1.describe())
#print(s1.unique())
print(s1.value_counts())

a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
f    15.0
g    16.0
h    17.0
i    18.0
j    10.0
k    -1.0
dtype: float64
 10.0    2
 11.0    1
 12.0    1
 13.0    1
 14.0    1
 15.0    1
 16.0    1
 17.0    1
 18.0    1
-1.0     1
dtype: int64

In [83]:
s1 = pd.Series([1,2,3], list('abc'), dtype=int)
s2 = pd.Series([10,20,30,40], list('abcx'), dtype=int)
df1 = pd.DataFrame({'S1':s1, 'S2':s2})
print(df1)

for s in df1:
    print(s, df1[s].hasnans)
    
print(df1.isna())
print(df1.fillna(-1.0, inplace=True))
print(df1)
print(df1.dropna())

    S1  S2
a  1.0  10
b  2.0  20
c  3.0  30
x  NaN  40
S1 True
S2 False
      S1     S2
a  False  False
b  False  False
c  False  False
x   True  False
None
    S1  S2
a  1.0  10
b  2.0  20
c  3.0  30
x -1.0  40
    S1  S2
a  1.0  10
b  2.0  20
c  3.0  30
x -1.0  40